body {
  background: #999;
}

#page-wrap:after {
  content: "Smartphone Layout";
  font-size: 16px;
}

h2 span, section h3 {
  display: none;
}

body {
  font-size: xx-large;
}

section {
  background-color: #fff;
}

footer {
  background-color: #eee;
}

footer, input {
  font-size: large;
}
