<form method="get" action="/quizes/<%= quiz.id %>/answer">
  Tema: <%= quiz.tema %>
  <br />
  Pregunta:
  <br /><%= quiz.pregunta %>
  <input type="text" name="respuesta" placeholder="Responda aquí" />
  <br />
  <br />
  <input type="submit" value="Enviar" />
</form>
